.featureContainer {
    display: flex;
    flex-direction:  column;
    padding-top: 5rem;
    gap: 0.3em;
    justify-content: center;
}
.mainText {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.688px;
  letter-spacing: 0.1em;
  text-align: left;
}

.featuredimgContainer {
    width: 100%;
    background-color: rgba(99, 89, 177, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
    padding: 0.5em;
}
